.right img {
    display: block;
    max-width: 32%;
    height: auto;
    margin: auto;
    padding-right: 25px;
    float: left;
}

.t1, .t2, .t3 {
    font-family: 'Palatino';
    font-size: 12pt;
  }

.t4 {
    width: auto;
    text-align: center;
    font-family: 'Palatino';
    font-size: 12pt;
}
